body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



::-webkit-scrollbar {
    width: 0px;
}